.card

  = image_tag "logo.png", class: "logo"

  %h1
    = t('views.shortener.show.title')
    %span= t('views.shortener.show.span')

  %form{:method => 'post', :novalidate => "true"}
    %input{:type => "url", :class => 'input', :id => 'shorturl', :placeholder => t('views.shortener.show.placeholder')}
    %input{:type => "submit", :class => 'button', :value => t('views.shortener.show.value'), :data => {:clipboard => {:target => '#shorturl'}}, :onclick => "return false"}
    %input{:class => 'shortened-link'}

  %ul.copyright
    %li
      = t('views.shortener.show.made_by')
      = link_to t('views.shortener.show.copyright.author'), author_url, :target => '_blank'
    %li= link_to t('views.shortener.show.copyright.contact'), mailto_url
    %li= link_to t('views.shortener.show.copyright.share'), share_url, :target => '_blank'
